@import url('https://fonts.googleapis.com/css2?family=Andika&family=Moon+Dance&family=Open+Sans:wght@300&family=PT+Serif&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-weight: normal;
    color: black;
}

body {
    line-height: 1.4em;
    font-family: 'Verdana';
    height: 100%;
    background: black;
    background-size: cover;
    margin-bottom: 30px;
}

img {
    max-width: 100%;
}

header {
    background: #F04226;
    margin-bottom: 30px;
    padding: 5px 20px 5px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 5000;
}

.black-li {
    background: black;
}

.black-li a{
    color: white !important;
}

header button {
    border: none;
    background: #F04226;
    cursor: pointer;
    padding: 5px 10px;
}

.material-symbols-outlined {
    font-size: 30px;
}

.main-margin {
    margin: 0 10px
}

main {
    background: white;
    max-width: 850px;
    min-height: 470px;
    padding: 33px 36px;
    margin: auto;
    border-radius: 2px;
    box-shadow: 0 0 6px rgb(0 0 0 / 25%);
}

h1 {
    font-size: 2rem;
    line-height: 1.2em;
    margin-bottom: 15px;
    text-align: center;
}

.date {
    border-top: 1px solid #8e8e93;
    border-bottom: 1px solid #8e8e93;
    font-size: 0.8rem;
    font-size: 0.8rem;
    font-family: "Open Sans";
}

.date h2 {
    color: rgb(75, 82, 91);
    font-family: 'PT Serif';
    font-size: 17px;
}

h2 {
    display: flex;
    align-items: center;
}

h2 span {
    margin-right: 10px;
}

p {
    margin-top: 20px;
    line-height: 1.5em;
    font-size: 17px;
    font-family: 'Andika';
}

.language-switch {
    display: flex;
    top: 1px;
    right: 10px;
    position: fixed;
    z-index: 6000;
}

.language-switch label {
    color: white;
    padding: 12px 16px;
    font-family: Helvetica, sans-serif;
    font-size: 0.7rem;
    border-radius: 8px;
    cursor: pointer;
}

.label1 {
    display: flex;
    align-items: center;
    background: rgb(179, 25, 66);
    box-shadow: 6px 3px 11px rgb(0 0 0 / 25%);
    width: 80px;
}

.label2 {
    align-items: center;
    background: rgb(170, 21, 27);
    box-shadow: 2px 2px 2px black;
    box-shadow: 6px 3px 11px rgb(0 0 0 / 25%);
    width: 80px;
}

.label1:hover {
    background: rgb(185, 46, 83);
}

.label2:hover {
    background: rgb(194, 77, 80);
}

.label1:active {
    background: rgb(148, 20, 54);
}

.label2:active {
    background: rgb(145, 18, 23);
}

.language-switch img {
    width: 14px;
    margin-right: 4px;
    border: 2px solid black;
    border-radius: 50%;
}

.time {
    font-weight: 400;
    margin-top: 20px;
    font-family: monospace;
    font-size: 1.2rem;
    text-align: center;
}

.last-diary {
    width: 335px;
    transform: rotate(-1deg);
    margin: 16px auto;
    box-shadow: 2px 4px 4px rgb(0 0 0 / 25%);
    position: relative;
}

.diary-stickers {
    position: absolute;
    width: 100px;
}

.sticker1 { 
    right: -155px;
    bottom: 87px;
    rotate: -4deg;
}

.sticker2 { 
    left: -155px;
    top: 4px;
    width: 80px;
    rotate: 4deg;
}

.sticker3 { 
    right: -155px;
    bottom: 0px;
    rotate: -1deg;
}


@media (max-width: 800px) {
    .diary-stickers {
        display: none;
    }
}

.image2 {
    width: 300px;
    margin: 16px auto;
    display: flex;
    align-items: center;
    gap: 13px;
    flex-direction: column;
    position: relative;
}

.language-stickers {
    width: 50px;
    position: absolute;
    border: 4px solid black;
    border-radius: 50%;
}

.sticker4 {
    top: 108px;
    left: -128px;
}

.sticker5 {
    top: 198px;
    left: -128px;
}

.sticker6 { 
    width: 100px;
    position: absolute;
    top: 139px;
    right: -169px;
}

@media (max-width: 700px) {
    .sticker4 {
        left: -65px;
    }
    
    .sticker5 {
        left: -65px;
    }

    .sticker6 {
        display: none;
    }
}

.errors-image {
    width: 200px;
    margin: 16px auto;
    rotate: 2deg;
    position: relative;
}

.sticker7 {
    width: 100px;
    position: absolute;
    left: -176px;
    bottom: 4px;
}

.sticker8 {
    position: absolute;
    width: 50px;
    right: -123px;
}

@media (max-width: 650px) {
    .sticker7 {
        display: none;
    }
    
    .sticker8 {
        right: -86px;
    }
}

.his-message {
    transform: rotate(1deg);
    width: 250px;
    margin: 16px auto;
}

.dog-items-image {
    margin: 16px auto;
    display: flex;
    position: relative;
    justify-content: center;
    width: 250px; /* Apparently, for the Paw's and Add Ons to follow it right, the Container MUST have a Set Width to it... */
}

.leash {
    width: 188px;
    transform: rotate(-4deg);
}

.bowl {
    transform: rotate(-4deg);
    box-shadow: none;
    width: 148px;
    top: 142px;
    opacity: 93%;
    position: absolute;
}

.woof {
    box-shadow: none;
    position: absolute;
    top: 10px;
    rotate: -1deg;
    left: 218px;
    border-radius: 25%;
}

.paw1,
.paw2 {
    box-shadow: none;
    position: absolute;
    width: 58px;
}

.paw1:hover,
.paw2:hover {
    transition: 0.3s;
    transform: translate(0px, -8px);
}

.paw1 {
    right: 288px;
    rotate: 7deg;
    top: 66px;
}

.paw2 {
    left: 288px;
    rotate: -18deg;
    bottom: 24px;
}

.tape {
    box-shadow: none;
    position: absolute;
    width: 81px;
    top: 203px;
    height: 36px;
}

.my-name {
    position: absolute;
    top: 220px;
    letter-spacing: 1px;
    font-family: 'Moon Dance';
    font-size: 34px;
    transform: rotate(-4deg);
    margin: 0;
    line-height: 0;
}

.dog-p-margin {
    margin-top: 30px;
}

[data-todo="things-to-do"] {
    margin: 0px 20px;
    list-style-type: disc;
}

[data-todo="things-to-do"] img {
    display: none;
    width: 200px;
    margin: 10px 0;
}

[data-todo="things-to-do"] .active-question {
    display: block;
} 

[data-todo="things-to-do"] li {
    padding: 5px 0;
    display: flex;
    align-items: center;
    cursor: pointer;
}

[data-todo="things-to-do"] li::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 10px;
    margin-right: 10px;
    background: hotpink;
}

[data-todo="things-to-do"] li::after {
    content: '';
    width: 10px;
    height: 10px;
    display: inline-block;
    background: url('https://www.origamid.com/projetos/animais-fantasticos/img/arrow-red.svg') no-repeat center center;
    margin-left: 10px;
    transform: rotate(90deg);
    transition: transform .3s;
}

[data-todo="things-to-do"].active-li li::after {
    transform: rotate(-90deg);
}

.multiple-images {
    display: flex;
}

.four-images {
    display: none;
    overflow-x: scroll;
}

.active-li .four-images {
    display: flex;
}

.four-images::-webkit-scrollbar {
    width: 1px;
    height: 16px;
}
  
.four-images::-webkit-scrollbar-track {
    background: white;
}

.four-images::-webkit-scrollbar-thumb {
    background: pink;
}

.last-li {
    margin-top: 6px;
    margin: 0px 20px;
}

.last-li::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 10px;
    margin-right: 10px;
    background: hotpink;
}

.marriage {
    width: 200px;
    margin: 10px auto;
    justify-content: center;
    display: flex;
    position: relative;
}

.marriage img {
    box-shadow: none;
}

.marriage-stickers {
    position: absolute;
}

.sticker15 {
    right: -204px;
    bottom: 153px;
    width: 128px;
}

.sticker16 {
    left: -221px;
    top: 174px;
}

@media (max-width: 700px) {
    .marriage-stickers {
        display: none;
    }    
}

.dances-container {
    width: 250px;
    margin: 16px auto;
    position: relative;
}

.dance-stickers {
    position: absolute;
}

.sticker12 {
    bottom: 273px;
    left: -235px;
    rotate: 9deg;
}

.sticker13 {
    top: 242px;
    right: -200px;
    rotate: -6deg;
}

@media (max-width: 800px) {
    .dance-stickers {
        display: none;
    }
}

.dances-image {
    width: 250px;
    display: flex;
    overflow-x: scroll;
    border: 4px solid black;
}

.dances-image::-webkit-scrollbar {
    width: 1px;
    height: 16px;
}
  
.dances-image::-webkit-scrollbar-track {
    background: white;
}

.dances-image::-webkit-scrollbar-thumb {
    background: #F04226;
}

.naughty-dance {
    width: 200px;
    margin: 10px auto;
    display: flex;
    position: relative;
}

.rough-container {
    width: 200px;
    margin: 16px auto;
    position: relative;
}

.rough-image {
    display: flex;
    overflow-x: scroll;
    border: 4px solid black;
}

.rough-image::-webkit-scrollbar {
    width: 1px;
    height: 16px;
}
  
.rough-image::-webkit-scrollbar-track {
    background: white;
}

.rough-image::-webkit-scrollbar-thumb {
    background: #a24bfd;
}


.face {
    width: 200px;
    margin: 16px auto;
    display: flex;
    box-shadow: none;
}

.breasts-container {
    position: relative;
    width: 200px;
    margin: 16px auto;
    display: flex;
    justify-content: center;
}

.breasts-images::-webkit-scrollbar {
    width: 1px;
    height: 16px;
}
  
.breasts-images::-webkit-scrollbar-track {
    background: white;
}

.breasts-images::-webkit-scrollbar-thumb {
    background: #FB5;
}

.breasts-images {
    display: flex;
    position: relative;
    overflow-x: scroll;
    border: 4px solid black;
}

.breasts-images img {
    width: 155px;
}

.arrow1 {
    position: absolute;
    left: -131px;
    top: -45px;
    width: 123px !important;
    box-shadow: none;
    rotate: -20deg;
    transform: scaleY(-1);
}

.breasts-stickers {
    position: absolute;
    top: -10px;
    right: -145px;
    width: 96px;
    right: -183px;
}

.sticker10 {
    top: -20px;
}

.sticker11 {
    top: 86px;
}

@media (max-width: 630px) {
    .breasts-stickers {
        right: -110px
    }
}

.breasts-p {
    position: absolute;
    left: -257px;
    top: 35px;
    font-size: 13px;
}

@media (max-width: 800px) {
    .breasts-p {
        width: 13ch;
        left: -122px;
    }
}

.heart1 {
    top: 20px;
    left: -87px;
    rotate: -27deg;
}

.heart2 {
    top: -11px;
    right: -76px;
    rotate: 34deg;
}

.hearts {
    width: 52px;
    box-shadow: none;
    position: absolute;
}

.what-i-meant-container {
    position: relative;
    margin: 16px auto;
    display: flex;
    justify-content: center;
    width: 250px;
}


.what-i-meant {
    width: 250px;
    margin: 16px auto;
    display: flex;
    overflow-x: scroll;
    border: 4px solid black;
}

.what-i-meant::-webkit-scrollbar {
    width: 1px;
    height: 16px;
}
  
.what-i-meant::-webkit-scrollbar-track {
    background: white;
}

.what-i-meant::-webkit-scrollbar-thumb {
    background: #F04226;
}

@media (max-width: 700px) {
    .lap-heart1 {
        left: 261px !important;
    }

    .lap-heart2 {
        right: 261px !important;
    }
}

.what-i-meant img {
    width: 165px;
}

.lap-heart1,
.lap-heart2 {
    width: 90px !important;
    position: absolute;
    box-shadow: none;
}

.lap-heart1 {
    top: -3px;
    left: 341px;
    rotate: -6deg;
}

.lap-heart2 {
    bottom: 43px;
    right: 341px;
    rotate: 13deg;
}

.italic-text {
    font-style: italic;
}

.coffin {
    width: 200px;
    display: flex;
    margin: 16px auto;
}

.coffin2 {
    width: 250px;
    display: flex;
    margin: 16px auto;
}

strong {
    font-weight: 700;
}

i {
    text-decoration: underline;
}

.hungry {
    width: 200px;
    display: flex;
    margin: 16px auto;
    position: relative;
}

.empty-plate {
    position: absolute;
    width: 140px;
}

.plate1 {
    top: 167px;
    left: -195px;
    rotate: 7deg;
    width: 163px;
}

.plate2 {
    bottom: 114px;
    right: -197px;
    rotate: -5deg;
}

@media (max-width: 700px) {
    .empty-plate {
        display: none;
    }
}

.purchases-container {
    margin: 16px auto;
    position: relative;
    display: flex;
    width: 200px;
    justify-content: center;
}

.purchase-stickers {
    position: absolute;
}

.purchases1 {
    top: -16px;
    left: -168px;
    width: 110px;
    rotate: -2deg;
}

.purchases2 {
    top: 11px;
    left: 216px;
    width: 133px;
    rotate: 3deg;
    z-index: 1;
}

.purchases3 {
    top: 128px;
    left: 260px;
    width: 78px;
    rotate: -24deg;
}

.purchases4 {
    top: 100px;
    left: -184px;
    width: 107px;
    rotate: 10deg;
}

.purchases5 {
    top: 80px;
    left: 355px;
    width: 113px;
    rotate: 17deg;
}

@media (max-width: 800px) {
    .purchase-stickers {
        display: none;
    }
}

.purchases {
    display: flex;
    overflow-x: scroll;
    border: 4px solid black;
}

.purchases::-webkit-scrollbar {
    width: 1px;
    height: 16px;
}
  
.purchases::-webkit-scrollbar-track {
    background: white;
}

.purchases::-webkit-scrollbar-thumb {
    background: greenyellow;
}

.foods-container {
    display: flex;
    width: 200px;
    margin: 16px auto;
    justify-content: center;
    position: relative;
}

.foods-stickers {
    width: 50px;
    position: absolute;
}

.foods1 {
    top: 34px;
    left: -229px;
    width: 168px;
}

.foods2 {
    left: 284px;
    width: 111px;
}

.foods3 {
    left: 250px;
    width: 175px;
    top: 156px;
}

@media (max-width: 760px) {
    .foods-stickers {
        display: none;
    }
}

.foods {
    overflow-x: scroll;
    border: 4px solid black;
    display: flex;
}

.foods::-webkit-scrollbar {
    width: 1px;
    height: 16px;
}
  
.foods::-webkit-scrollbar-track {
    background: white;
}

.foods::-webkit-scrollbar-thumb {
    background: brown;
}

.orc-container {
    position: relative;
}

.ogre-paragraph {
    margin: 20px 40px 0 40px;
}

.orc-head {
    position: absolute;
    width: 50px;
}

.orc1 {
    top: 14px;
    right: -18px;
}

.orc2 {
    top: 14px;
    left: -18px;
}

.violence-container {
    display: flex;
    margin: 16px auto;
    width: 200px;
    justify-content: center;
}

.exercise {
    display: flex;
    margin: 16px auto;
    width: 200px;
}

.coffee {
    display: flex;
    margin: 16px auto;
    width: 300px;
}


